<p id="notice"><%= notice %></p>


 <div class="header">
</div>
<h1 class="congrats">Congrats <%= @user.name %>!</h1>


<h1>Now you can sit back and reflect
on how <b>AWESOME</b> you are.</h1>

<h1> When it's golf time, we'll let you know!</h1>


